<footer
  class="shadow border-t-stone-300 border p-4 flex justify-between items-center"
>
  <p class="dark:text-">
    &copy; Gianfranco Trotta <span id="footer-year"></span>
  </p>
  <p>
    Built with <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://astro.build"
      class="text-blue-600 hover:underline">{Astro.generator}</a
    >
  </p>
</footer>

<script>
  const updateFooterYear = () => {
    const currentYear = new Date().getFullYear();
    const footerYearElement = document.getElementById(
      "footer-year"
    ) as HTMLSpanElement;
    if (footerYearElement) {
      footerYearElement.textContent = currentYear.toString();
    }
  };

  // Call the function to set the current year
  updateFooterYear();
</script>
