<nav class="shadow p-4 flex justify-between items-center">
  <a href="/" class="text-xl text-blue-500">GT</a>

  <div class="space-x-4">
    <button
      type="button"
      id="dark-mode-toggle"
      class="transform transition duration-100 hover:text-blue-500 hover:scale-125"
      ><span id="dark-mode-toggle-text"></span></button
    >
    <a href="/blog" class="hover:text-blue-500">Blog</a>
    <a href="/dev-stuff" class="hover:text-blue-500">Dev-Stuff</a>
  </div>
</nav>

<script>
  const htmlDocument = document.querySelector("html") as HTMLElement;
  const darkModeToggle = document.getElementById(
    "dark-mode-toggle"
  ) as HTMLButtonElement;
  const darkModeToggleText = document.getElementById(
    "dark-mode-toggle-text"
  ) as HTMLSpanElement;

  console.log(htmlDocument.classList);

  darkModeToggle.addEventListener("click", () => {
    if (htmlDocument.classList.contains("dark")) {
      darkModeToggleText.innerText = "🌙";
      darkModeToggle.setAttribute("aria-label", "Activate dark mode");
      window.localStorage.setItem("theme", "light");
    } else {
      darkModeToggleText.innerText = "🌞";
      darkModeToggle.setAttribute("aria-label", "Activate light mode");
      window.localStorage.setItem("theme", "dark");
    }

    htmlDocument.classList.toggle("dark");
  });
</script>
